#
# {{ ansible_managed }}
#
###############################################################################
?FORMAT 2
###############################################################################
#ZONE   INTERFACE       OPTIONS
{% for interface in shorewall_interfaces if interface.ipv4 %}
{{ interface.zone }}    {{ interface.interface }}    {{ interface.options_v4|default(shorewall4_interfaces_default_options) }}
{% endfor %}
