
# {{ __rule.name }}
{{ __rule.action }}  {{ __rule.source }}  {{ __rule.dest }} {{ __rule.proto|default('-') }}  {{ __rule.dest_port|default('-') }}  {{ __rule.source_port|default('-') }} {{ __rule.original_dest|default('-') }}  {{ __rule.rate_limit|default('-') }}  {{ __rule.user_group|default('-') }}  {{ __rule.mark|default('-') }}  {{ __rule.connlimit|default('-') }}  {{ __rule.time|default('-') }}  {{ __rule.headers|default('-') }} {{ __rule.switch|default('-') }}  {{ __rule.helper|default('-') }}

